/**/VE370 REF
/**/.DS_store
*.jar
*.png
gene
*.bc
*.exe
*.msi
*.txt
*.ll

PROJECT1/asm.sh
*.tar
*.pygtex
*.pygstyle
*.fdb_latexmk
*.fls
*.log
*.aux
PROJ/PROJECT2/peer evaluation.pdf
PROJ/PROJECT2/peer evaluation.md
*.jpg
